.main {
    width: 90%;
    margin: auto;
    /* border: 2px solid magenta; */
}

.main h1 {
    margin: 30px 0px;
    font-size: 30px;
    font-weight: 700;
    color: rgb(16, 69, 93);
  }

  .main-wrapper {
    width: 100%;
    margin: 20px 0;
    /* border: 1px solid #000; */
   }

   
  .cart-img {
    height: 180px;
    /* border: 1px solid rebeccapurple; */
  }
  
  .cart-img img {
    width: 100%;
    height: 100%;
  }
  
  .cart-content-container {
    border: 1px solid rgb(224, 221, 221);
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    /* display: flex; */
  }
  
  .cart-content {
    /* width: 40%; */
    margin: 15px 0;
    /* border: 1px solid magenta; */
    padding-left: 14px;
  }
  
  .cart-content h4 {
    font-size: 24px;
    color: rgb(16, 69, 93);
    margin-bottom: 10px;
  }
  
  .cart-content p {
    font-size: 20px;
    margin-bottom: 14px;
  }
  
  .cart-content span {
    background-color: orange;
    font-size: 16px;
    color: #fff;
    padding: 5px;
  }
  
  .cart-content img {
    width: 90px;
    /* margin-left: 25px; */
  }
  
  .course-content {
    width: 90%;
    /* display: flex; */
    margin: 30px 0;
    justify-content: space-between;
    /* border: 1px solid #000; */
    color: rgb(16, 69, 93);
  }

  .course-content .price {
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
  }

  .course-content .price:hover {
    color: orangered;
  }
  
  .cart-content .remove-course {
    font-size: 24px;
    margin: 0;
    text-decoration: none;
    color: rgb(16, 69, 93);
    cursor: pointer;
  }
  
  .cart-content .remove-course:hover {
    color: red;
    /* font-weight: 700; */
  }


 .main-right {
  width: 100%;
  margin-bottom: 50px;
  /* border: 1px solid blue; */
 }

 .main-right .checkout {
  width: 100%;
  border: 1px solid #ccc;
  padding: 14px;
  margin: auto;
 }

 .main-right .checkout h4 {
  font-size: 20px;
  font-weight: 700;
 }

 .main-right .checkout h2 {
  font-size: 34px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 700;
 }

 .main-right .checkout .checkout-link {
    font-size: 20px;
  text-decoration: none;
  color: #fff;
  background-color: rgb(16, 69, 93);
  padding: 14px 80px;
}

.main-right .checkout .checkout-link:hover {
  background-color: rgb(27, 95, 126);
}

.main-right .checkout .promotion {
 border: 1px solid #ccc;
 margin-top: 35px;
 padding: 10px 0;
}

.main-right .checkout .promotion h3 {
  color: rgb(16, 69, 93);
  font-size: 22px;
  margin-bottom: 12px; 
}

.main-right .checkout .promotion p {
  margin: 10px 0;
  font-size: 18px;
}

.main-right .checkout .promotion b {
  color: rgb(16, 69, 93);
  font-style: italic;
}

.main-right .checkout .promotion input {
  padding: 10px 18px;
  font-size: 14px;
  font-style: italic;
}

.main-right .checkout .promotion .apply {
  text-decoration: none;
  margin-left: 10px;
  background-color: rgb(27, 95, 126);
  color: #fff;
  font-size: 12px;
  padding: 12px 18px;
}

.main-right .checkout .promotion .apply:hover {
  background-color: rgb(42, 114, 148);
}


@media (min-width: 800px) {
  .main-wrapper {
    width: 100%;
    margin: 20px 0;
    /* border: 1px solid #000; */
    display: flex;
   }

   .dropdown {
    display: none;
   }

   ul {
    display: flex;
   }

   ul li {
    margin: 0 20px;
   }

 .main-left {
  width: 60%;
  /* border: 1px solid green; */
 }
  
  .cart-img img {
    width: 100%;
    height: 100%;
  }
  
  .cart-content-container {
    border: 1px solid rgb(224, 221, 221);
    width: 98%;
    padding: 20px;
    margin-bottom: 30px;
    /* display: flex; */
  }  
  
  .course-content {
    display: flex;
    margin: 18px 0;
    justify-content: space-between;
    /* border: 1px solid #000; */
  }
  
 .main-right {
  width: 40%;
  /* border: 1px solid blue; */
 }

 .main-right .checkout {
  width: 100%;
  border: 1px solid #ccc;
  padding: 14px;
  margin: auto;
 }


.main-right .checkout .promotion {
 border: 1px solid #ccc;
 margin-top: 35px;
 padding: 10px 5px;
}

.main-right .checkout .promotion input {
width: 100%;
margin-bottom: 20px;
}

.main-right .checkout .promotion .apply {
margin-left: 0;
font-size: 16px;
padding: 10px 40px;
}

}

@media (min-width: 1000px) {
  #header {
    height: 30vh;
}

header nav {
    width: 90%;
    height: 40%;
    margin: auto;
    /* border: 1px solid #000; */
}
  .main-wrapper {
    width: 100%;
    margin: 20px 0;
    /* border: 1px solid #000; */
    display: flex;
   }

   .dropdown {
    display: none;
   }

   ul {
    display: flex;
   }

   ul li {
    margin: 0 20px;
   }

 .main-left {
  width: 70%;
  /* border: 1px solid green; */
 }
  
  .cart-img img {
    width: 340px;
    height: 100%;
  }
  
  .cart-content-container {
    border: 1px solid rgb(224, 221, 221);
    width: 98%;
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
  }  
  
  .course-content {

    display: flex;
    margin: 18px 0;
    justify-content: space-between;
    /* border: 1px solid #000; */
  }
  
 .main-right {
  width: 30%;
  /* border: 1px solid blue; */
 }

 .main-right .checkout {
  width: 90%;
  border: 1px solid #ccc;
  padding: 14px;
  margin: auto;
 }


.main-right .checkout .promotion {
 border: 1px solid #ccc;
 margin-top: 35px;
 padding: 10px 5px;
}



}